.error {
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 10px;
  padding-bottom: 30px;
  &__container-title {
    display: flex;
    justify-content: center;
    .error__title {
      font-size: 30px;
    }
  }
  &__container-img {
    display: flex;
    justify-content: center;
    height: 300px;
    width: 300px;
    position: relative;
    overflow: hidden;
    img {
      width: 100%;
      object-fit: cover;
    }
  }
}
